.text-left {
    text-align: left;
}

.underline {
    border-bottom: 1px solid;
}

.flex-center {
    display: flex;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .list-text {
        font-size: 15px;
    }
}